<!DOCTYPE html>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/static/knockout.js"></script>
<style>
    .parts
    {
        border:solid 1px #c3c7bd;
        width: 1024;
        height: 768px;
    }
    .part
    {
        font-size: 62px;
        border:solid 1px #c3c7bd;
        text-align:center;
    }

</style>
<html>
<head>
    <title></title>
    <style>
        .content
        {
            font-size: 62px;
            border:solid 1px #c3c7bd;
            text-align:center;
        }
    </style>
</head>
<body>
<div class="container">
    <p class="text-center">
          <h1 class="text-center">
            create your intervention
          </h1>
    </p>
    <p class="text-center">
          <h3 class="text-center">
            what do you want to add?
          </h3>
    </p>
    <hr>
    <p class="text-center">
    <button type="button" data-bind="click:addPart" class="btn btn-primary btn-lg"> scene </button>
    <button type="button" data-bind="click:addPart" class="btn btn-primary btn-lg"> list </button>
    <button type="button" data-bind="click:addPart" class="btn btn-primary btn-lg"> table </button>
    <button type="button" data-bind="click:addPart" class="btn btn-primary btn-lg"> text </button>
    <button type="button" data-bind="click:addPart" class="btn btn-primary btn-lg"> textarea </button>
    </p>
    <hr>
    <div class="parts text-center" data-bind="foreach: partList">
        <div class="part text-center" data-bind='style:{ width: width, height: height, fontSize: fontSize }'>
            <span data-bind="text: text "></span>
         </div>
    </div>
<hr />

<div id="details" data-bind="dialog: { autoOpen: false, resizable: false, modal: false}, template: { name: 'editPart', data: selectedPart, if: selectedPart }, openDialog: selectedPart">
</div>

<script id="editPart" type="text/html">
    <p>
        <textarea data-bind="value: editText" placeholder="enter text..."  />
    </p>
    <p>
        <input data-bind="value: editWidth" placeholder="enter width..."  />
    </p>
    <p>
        <input data-bind="value: editHeight" placeholder="enter height..."  />
    </p>
    <p>
        <input data-bind="value: editFontSize" placeholder="enter font size..."  />
    </p>
    <button data-bind="jqButton: {}, click: $root.accept">Accept</button>
    <button data-bind="jqButton: {}, click: $root.cancel">Cancel</button>
</script>
</div>
<script src="/static/main.js?version=${version}"></script>
</body>
</html>

